#label {
    -fx-background-color: #f44336; /* Gradient from left to right */
    -fx-background-radius: 3px;  /* Rounded corners */
    -fx-padding: 1px 3px; /* Padding inside the label */
    -fx-font-size: 10px;  /* Font size */
}

#jobTitle {
    -fx-background-color: #AC9362; /* Gradient from left to right */
    -fx-background-radius: 3px;  /* Rounded corners */
    -fx-padding: 1px 3px; /* Padding inside the label */
    -fx-font-size: 10px;  /* Font size */
}
